*,
*::after,
*::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #131313;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.menu-list {
  display: flex;
}

.menu-item + .menu-item {
  padding-left: 10px;
}

.menu-link {
  text-transform: uppercase;
  padding: 43px 20px;
  transition: all 0.3s;
}

.menu-link:hover {
  background-color: #131313;
  color: #ffffff;
}

.bike {
  padding: 100px 0 150px;
}

.bike-inner {
  display: flex;
  justify-content: space-between;
}

.bike-column + .bike-column {
  flex-basis: 630px;
  margin-left: 30px;
  max-width: 630px;
}

.bike-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin: 60px 0 5px;
}

.bike-subtitle {
  font-size: 32px;
  font-weight: 400;
  line-height: 39px;
  color: #6f6f6f;
  margin: 0 0 60px;
}

.bike-text {
  max-width: 420px;
  margin-bottom: 20px;
}

.bike-link {
  margin-top: 60px;
  display: inline-block;
  background-color: #131313;
  padding: 28px 81px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s;
}

.bike-link:hover {
  background-color: #ff4040;
}

.bike-slider .slick-dots {
  right: 0;
  top: 50px;
}

.slick-dots {
  position: absolute;
}

.slick-dots li + li {
  padding-top: 10px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  border: none;
  background-color: #131313;
  width: 2px;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
}

.slick-dots button:hover,
.slick-active button {
  background-color: #ff4040;
}

.bike-list {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.bike-list-item {
  min-width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 58px;
}

.bike-list-num {
  font-weight: 700;
  text-transform: uppercase;
}

.bike-list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: lowercase;
  margin: auto 0;
}

.info {
  margin-bottom: 150px;
}

.info-inner {
  display: flex;
}

.info-img {
  margin-right: 60px;
  flex-basis: 570px;
}

.info-list {
  flex-basis: 490px;
}

.info-item + .info-item {
  padding-top: 50px;
}

.info-item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin: 0 0 10px;
}

.info-item-text {
  max-width: 450px;
}

.characteristics {
  margin-bottom: 150px;
}

.characteristics-title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.characteristics-inner {
  display: flex;
}

.characteristics-img {
  align-self: center;
}

.characteristics-items {
  flex-basis: 570px;
  margin-right: 60px;
}

.characteristics-list + .characteristics-list {
  padding-top: 30px;
}

.characteristics-item-title {
  padding: 2px 0 3px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #131313;
  margin-bottom: 10px;
}

.characteristics-line {
  display: flex;
  padding-top: 5px;
}

.characteristics-name {
  flex-basis: 285px;
  padding-right: 20px;
}

.characteristics-descr {
  flex-basis: 285px;
}

